body {
    background-color: #0c1014;
    color: white;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #05080a;
    padding: 16px;
    align-items: center;
    margin-top: 16px;
}

.header__logo {
    text-transform: uppercase;
    font-size: 36px;
    margin-left: 16px;
}

.header__lista {
    display: flex;
    list-style-type: none;
    gap: 16px;
    font-size: 18px;
}

.header__lista a {
    text-decoration: none;
    color: white;
    padding: 14px;
    border-radius: 6px;
}

.header__lista a:hover {
    text-decoration: underline;
}

#active  {
    background-color: #cbe300;
    color: #0c1014;
    pointer-events: none;
    cursor: default;
}

.main-title {
    text-transform: uppercase;
    font-size: 62px;
    text-align: center;
    margin: 46px 0;
    letter-spacing: 2px;
}

.pricing {
    display: flex;
    gap: 16px;
}

.pricing-plan {
    flex: 1;
    background-color: #1f262c;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 5px 15px -6px black;
    display: flex;
    flex-direction: column;
}

.plan__title {
    text-transform: uppercase;
    border-bottom: 2px solid #cbe300;
    margin-top: 0;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

.pricing-plan p {
    margin-top: 0;
    display: flex;
}

.plan__price {
    font-size: 34px;
}

.plan__features {
    margin: 0 0 35px;
    line-height: 1.8;
    color: #b5b5b5;
    padding-left: 16px;
}

.plan__features li::marker {
    color: #cbe300;
}

.plan__cta {
    text-decoration: none;
    color: #0c1014;
    background-color: #cbe300;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 10px;
    text-align: center;
    margin-block-start: auto;
}

.plan__cta:hover {
    outline: 2px solid #cbe300; 
    background-color: transparent;
    color: white;
}

