html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    background-image: url("../imagens/bg-2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.header {
    padding: 1px;
}

.titulos {
    margin: 100px auto 0;
    width: 80%;
    color: white;
    text-align: center;
}

.titulos >  h1 {
    font-size: 56px;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px black;
    margin-bottom: 0;
}

.titulos > p {
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    padding: 16px;
    border-bottom: 2px solid;
    font-size: 18px;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: auto;
    background-color: white;
    padding: 16px;
}

.blocos {
    flex-basis: 250px;
    flex-grow: 1;
}

.blocos img {
    width: 100%;
    display: block;
}

.blocos p {
    margin: 0;
    padding: 8px;
    background-color: #393535;
    color: white;
}

