@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header {
    background-color: #1F2937;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;  
    gap: 10px;
}

.cabeca1 {
    display: flex;
    flex-direction: column;
    width: 30%; 
    gap: 50px; 
}

.logo {
    font-size: 20px;
    color: #F9FAF8;
    font-weight: 900;
}

.texto-header {
  display: flex;
  flex-direction: column;
}

.texto-header > h2 {
    font-size: 40px;
    color: #F9FAF8;
    width: 60%;
    margin: 0;
}

.texto-header > p {
    font-size: 12px;
    color: #E5E7EB;
    width: 300px;
    margin: 0;
    padding: 5px;
}    

button {
    background-color: #3882F6;
    border: 0;
    border-radius: 5px;
    padding: 4px;
    font-weight: 700;
    width: 100px;
}

 a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 12px;
}

.cabeca2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    gap: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 45px;
    margin-top: 10px;
}

li {
    font-size: 12px;
    color: #E5E7EB;
    padding: 4px;
    letter-spacing: 1px;
}

.imagem-header {
    background-color: rgba(170, 169, 169, 0.652);
    display: flex;
    justify-content: center;
    width: 465  px;
    height: 180px;
}

.imagem-header > p {
    align-self: center;
    color: #ececed;
    padding: 40px;
}

main {
    display: flex;
    flex-direction: column;
}

.random-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.texto {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-top: 15px;
    padding: 10px 0;
}

.conteudo {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    gap: 35px;
    padding-top: 25px;
}

.Q1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quadrado {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

.texto-Q1 {
    width: 150px;
    text-align: center;
    margin-top: 9px;
}

.citacao {
    background-color: #E5E7EB;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.citacao-maior {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.thor {
    width: 70%;
    font-size: 25px;
    color: #1F2937;
    font-weight: 300;
    height: auto;
}

.autor {
    font-weight: bold;
    color: #1F2937;
    align-self: flex-end;
    width: 200px;
    margin-top: -40px;
}

.penultimo {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.azul {
    width: 65%;
    background-color: #3882F6;
    height: 130px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action > .titulo {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 800;
    margin: 0;
}

.action > .descricao {
    color: #E5E7EB;
    font-weight: 300;
    font-size: 16px;
    margin-top: 2px;
}

.sign-up button {
    border: 2px solid #E5E7EB;
    border-radius: 7px;
    padding: 7px 10px;
    color: #ececed;
    margin-left: -10px;
}

footer {
    background-color: #1F2937;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.final {
    color: #F9FAF8;
    font-size: 12px;
    font-weight: 300;
}