body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  width: 900px;
}

.emparelhar {
  width: 100%;
  display: flex;
  gap: 200px;
}

.tile-image {
  width: 400px;
  float: left;
}

.flutuar {
  clear: right;
  display: flex;
  flex-direction: column;
}

p, h2 {
  width: 87%;
  margin-left: 55px;
}

p {
  margin-top: -1px;
}

footer {
  width: 100%;
  text-align: right;
  color: midnightblue;
  display: flex;
  justify-content: end;
  height: 100px;
  align-items: end;
}

@media (max-width:1590px) {

.emparelhar {
  width: 100%;
  display: flex;
}

.flutuar {
  clear: left;
}

p, h2 {
  width: 87%;
  margin-left: 1px;
}

}

@media (max-width: 1100px) {

h1 {
  font-size: 5rem;
  width: 75%;
  text-align: center;
}

.emparelhar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.tile-image {
  width: 90%;
  height: 400px;
}

}

